@font-face {
    font-family: "QuickSand";
    src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
 }
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
p, li {
    font-family: "QuickSand";
}
.selected {
    background-color: #414345;
    color: white !important;
}
.sort-menu {
    display: flex;
    height: 60px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;

}
.recipe-menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.recipe-type {
    padding:1rem;
    cursor: pointer;
    position: relative;
    color: #414345;
}
.recipe-type:hover {
    background-color: #414345;
    color: white;
}
.recipe-type-menu{
    position: absolute;
    top:100%;
    left:0;
    list-style: none;
    z-index:5;
}
.active{
    background-color: #93e6d8 !important;
}
.recipe-type-name {
    display: flex;
    width: 300px;
    justify-content: flex-start;
}
.recipe-type-menu-item {
    color:#414345;
    background-color: #b5fff1;
    width: 300px;
    padding:1rem;
}
.recipe-type-menu-item:hover {
    background-color: #e6fffa;
}
.search-and-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sort-type {
    padding:1rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    color: #414345;
}
.sort-type:hover {
    background-color: #414345;
    color: white;
}
.sort-type-name {
    display: flex;
    width: 140px;
    justify-content: flex-start;
}
.sort-type-menu{
    position: absolute;
    top:100%;
    left:0;
    list-style: none;
    z-index:5;
}
.sort-type-menu li {
    background-color: #b5fff1;
    width: 140px;
    padding:1rem;
}
.sort-type-menu {
    text-decoration: none;
    color:#414345;
}
.sort-type-menu li:hover {
    background-color: #e6fffa;
}
.search-field {
    position: relative;
}
.search-and-sort input{
    padding:1rem;
    width: 200px;
    border-radius: 0;
    border: 1px solid #878c88
}
.search-and-sort button{
    position: absolute;
    left:92%;
    font-size: 110%;
    border: 0;
    background-color: white;
    color: #878c88;
    top:50%;
    cursor: pointer;
    transform: translate(-50%,-50%);
}
.search-and-sort button:hover{
    color: #414345;
}
.search-and-sort button:focus{
    outline:0;
}
.search-and-sort input:focus{
    border-color: #757d77;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #cdd4cf;
    outline:0;
}
.custom-select {
    height: calc(100% - 2px);
    width: 300px;
    margin: 0;
    font-family: "QuickSand";
    padding:0;
    border:0;
}
.custom-select option{
    height: calc(100% - 2px);
    width: 300px;
    margin: 0;
    font-family: "QuickSand";
    padding:1rem;
}
.container {
    margin-left: 12em;
    margin-right: 12em;
    margin-top: 5em;
    margin-bottom: 10em;
}
.card {
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}
.card-item {
    width: calc(25% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sorting-info {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.reset-filters {
    cursor: pointer;
    text-decoration: none;
    font-family: "QuickSand";
    color: black;
    font-size: 80%;
}
.reset-filters:hover {
    color:gray;
}
span {
    font-family: "QuickSand";
}