<div class="container">
  <div class="sort-menu">
  <div class="recipe-menu">
    <div 
    (click)="showRecipeTypeMenu()" 
    [class.selected]="isRecipeTypeMenuShown"
    (click)="$event.stopPropagation()" class="recipe-type">
      <div class="recipe-type-name">
      <p><i class="fa fa-arrow-down"></i></p>
      <p style="margin-left: 1rem;">Rodzaj dania</p>
      </div>
        <ul *ngIf="isRecipeTypeMenuShown" (click)="$event.stopPropagation()" class="recipe-type-menu">
          <li class="recipe-type-menu-item"
          *ngFor="let type of recipeTypes"
          [class.active]="type.id === this.recipeParams.recipeTypeId"
          [value]="type.id"
          (click)="onRecipeTypeSelected(type.id, type.name)"
          >{{type.name}}</li>
        </ul>
    </div>
      <div 
      (click)="showIngredientsTypeMenu()" 
      [class.selected]="isIngredientsTypeMenuShown"
      (click)="$event.stopPropagation()" class="recipe-type">
        <div class="recipe-type-name">
        <p><i class="fa fa-arrow-down"></i></p>
        <p style="margin-left: 1rem;">Typ dania</p>
        </div>
          <ul *ngIf="isIngredientsTypeMenuShown" (click)="$event.stopPropagation()" class="recipe-type-menu">
            <li class="recipe-type-menu-item" 
            *ngFor="let ingredientType of ingredientsTypeOptions"
            [class.active]="ingredientType.value === this.recipeParams.ingredientsType"
            [value]="ingredientType.value"
            (click)="onIngredientsTypeSelected(ingredientType.value, ingredientType.name)"
            >{{ingredientType.name}}</li>
          </ul>
      </div>
      <div 
      (click)="showSortTypeMenu()" 
      [class.selected]="isSortTypeMenuShown"
      (click)="$event.stopPropagation()" class="sort-type">
        <div class="sort-type-name">
        <p><i class="fa fa-arrow-down"></i></p>
        <p style="margin-left: 1rem;">Sortuj według</p>
        </div>
          <ul *ngIf="isSortTypeMenuShown" (click)="$event.stopPropagation()" class="sort-type-menu">
            <li
              *ngFor="let sort of sortOptions"
              [class.active]="sort.value === this.recipeParams.sort"
              [value]="sort.value"
              (click)="onSortSelected(sort.value, sort.name)"
              >{{sort.name}}</li>
          </ul>
      </div>
  </div>
  <div class="search-and-sort">
    <div class="search-field">
    <input (keyup.enter)="onSearch()" type="text" #search placeholder="Wyszukaj..." value="">
    <button (click)="onSearch()"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
<div class="sorting-info">
  <a (click)="resetFilters()" class="reset-filters">Wyczyść filtry</a>
  <h3>
    <span *ngIf="this.recipeTypeNameSelected">{{this.recipeTypeNameSelected}}</span>
    <span *ngIf="this.ingredientsTypeNameSelected">, {{this.ingredientsTypeNameSelected}}</span>
    <span *ngIf="this.sortOptionsSelected">, {{this.sortOptionsSelected}}</span>
    <span> ({{this.totalItems}})</span>
  </h3>
</div>
<div class="card">
    <div class="card-item" *ngFor="let recipe of recipes">
      <app-recipe-item [recipe]="recipe"></app-recipe-item>
    </div>
</div>
<pagination
*ngIf="this.totalItems > 0 && this.totalItems > this.recipeParams.pageSize" 
[boundaryLinks]="true" 
[totalItems]="this.totalItems"
(pageChanged)="onPageChanged($event)"
[itemsPerPage]="this.recipeParams.pageSize"
previousText="&lsaquo;" 
nextText="&rsaquo;" 
firstText="&laquo;" 
lastText="&raquo;">
</pagination>
</div>