<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <input formControlName="name" placeholder="name">
        <input formControlName="preparationTime" type="number" placeholder="preparationTime">
        <input formControlName="description" type="text" placeholder="desc">
        <input formControlName="imageUrl" type="file" (change)="onSelectedFile($event)">
        <input formControlName="ingredientsType" type="number" placeholder="ingtype">
        <input formControlName="difficulty" type="number" placeholder="diff">
        <input formControlName="recipeTypeId" type="number" placeholder="recipeType">
        <button type="submit">test</button>
    </form>
</div>