<div class="container" *ngIf="recipe">
<div class="header">
    <div class="recipe-info">
    <div class="recipe-name">
        <h1><b>{{recipe.name}}</b></h1>
        <span>{{recipe.description}}</span>
    </div>
    <div class="recipe-additional-info">
        <div class="icon-info">
            <img id="recipe-image" src="assets/icons/recipe-difficulty-{{recipe.difficulty}}.svg" />
            <p>{{recipe.difficulty}}</p>
        </div>
        <div class="icon-info">
            <img src="assets/icons/recipe-time.svg" />
            <p>{{recipe.preparationTime}} min.</p>
        </div>   
    </div>
    </div>
    <div class="recipe-image">
        <img src="{{recipe.imageUrl}}" />
    </div>
</div>
<div class="content">
    <div class="ingredients">
        <h1>Składniki</h1>
        <div class="ingredients-list">
        <ul>
            <li *ngFor="let ingredient of ingredients">{{ingredient.name}}</li>
        </ul>
        </div>
    </div>
    <div class="steps">
        <h1>Przygotowanie krok po kroku</h1>
        <div class="steps-list">
        <ol>
            <li *ngFor="let step of preparationSteps">{{step.name}}</li>
        </ol>
        </div>
    </div>
</div>
</div>