<div class="container">
  <div class="nav-bar">
    <div class="nav-bar-title">
      <a href="#">
        <div class="nav-bar-title">
          <img
            src="assets/images/kissclipart-chef-hat-silhouette-clipart-chefs-uniform-clip-ar-79d232e8f0b4669a.png"
            style="width: 80px; height: 80px"
          />
          <h1 class="title">Recipe Book</h1>
        </div>
      </a>
      <a class="nav-link" href="#"><b>PRZEPISY</b></a>
      <a class="nav-link" href="#"><b>INSPIRACJE</b></a>
      <a class="nav-link" href="#"><b>SPOŁECZNOŚĆ</b></a>
    </div>
    <div class="nav-link-items"></div>
    <a href="#">
      <i class="fa fa-user-circle fa-2x"></i>
    </a>
  </div>
</div>
